<div class="container">
</br>
    <h1>Editing Quanlyuser</h1>
    </br>
    <%= render 'form', quanlyuser: @quanlyuser %>

    <%= link_to 'Show', @quanlyuser %> |
    <%= link_to 'Back', quanlyusers_path %>
</div>
</br>