<div class="container">
</br>
    <h1>Chỉnh sửa quản lý người dùng</h1>
    </br>
    <%= render 'form', quanlyuser: @quanlyuser %>

    <%= link_to 'Show', @quanlyuser, class: 'btn btn-color' %>
    <%= link_to 'Back', quanlyusers_path, class: 'btn btn-color' %>
</div>
</br>