<div class="container">
</br>
    <h1>Thêm dữ liệu</h1>
    </br>
    <div class="container-fluid">
        <%= render 'form', quanlyuser: @quanlyuser %>

        <%= link_to 'Đến trang quản lý người dùng', quanlyusers_path, class: 'btn btn-color' %>
    </div>
</div>
</br>