<div class="container">
</br>
    <h1>Editing Phieuthu</h1>
    </br>
    <%= render 'form', phieuthu: @phieuthu %>

    <%= link_to 'Show', @phieuthu %> |
    <%= link_to 'Back', phieuthus_path %>
</div>
</br>