<div class="container">
</br>
    <h1>Chỉnh sửa phiếu thu</h1>
    </br>
    <%= render 'form', phieuthu: @phieuthu %>

    <%= link_to 'Show', @phieuthu, class: 'btn btn-color' %>
    <%= link_to 'Back', phieuthus_path, class: 'btn btn-color' %>
</div>
</br>