<div class="container">
</br>
    <h1>Thêm dữ liệu</h1>
    </br>
    <div class="container-fluid">
        <%= render 'form', phieuthu: @phieuthu %>

        <%= link_to 'Back', phieuthus_path, class: 'btn btn-color' %>
    </div>
</div>
</br>