<div class="container">
</br>
    <h1>Chỉnh sửa dữ liệu</h1>
    </br>
    <%= render 'form', khachhang: @khachhang %>

    <%= link_to 'Show', @khachhang, class: 'btn btn-color' %>
    <%= link_to 'Back', khachhangs_path, class: 'btn btn-color' %>
</div>
</br>