<div class="container">
</br>
    <h1>Editing Baocaoton</h1>

    <%= render 'form', baocaoton: @baocaoton %>

    <%= link_to 'Show', @baocaoton, class: 'btn btn-color' %>
    <%= link_to 'Back', baocaotons_pat, class: 'btn btn-color' %>
<div class="container">
</br>