<div class="container">
  </br>
  <h2>Nhân viên tạo tài khoản mới cần phải nhận thông tin người dùng</h2>
  </br>
  <div class="container-fluid">
    <%= link_to "Nhập thông tin tại đây" , new_quanlyuser_path, class: 'btn btn-color' %>
  </div>

</div>
</br>