<div class="container">
</br>
    <h1>Nhập thông tin người dùng</h1>
    </br>
    <div class="container-fluid">
        <%= link_to "Nhập thông tin tại đây", new_quanlyuser_path, class: 'btn btn-color' %>
    </div>
</div>
</br>
