<form class="container-fluid">
  <div class="userinfo">
    <h1>Thông tin người dùng</h1>
  </div>
  <div class="row">
    <div class="col-4 line">
      <label class="form-label">giá trị nhập tối thiểu</label>
    </div>
    <div class="col-6 line">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-4 line">
      <label class="form-label">Giá trị tồn để nhập tối đa</label>
    </div>
    <div class="col-6 line">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-4 line">
      <label class="form-label">Tổng nợ tối đa</label>
    </div>
    <div class="col-6 line">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-4 line">
      <label class="form-label">Lượng tồn sau khi bán tối thiểu</label>
    </div>
    <div class="col-6 line">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-4 line">
      <label class="form-label">Cho phép vược công nợ</label>
    </div>
    <div class="col-6 line"> 
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="something" checked>
        <label class="form-check-label"></label>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-4 line">
      <label class="form-label">Tỉ lệ đơn giá bán so với giá nhập</label>
    </div>
    <div class="col-6 line">
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-4 line">
      <label class="form-label">Mức tiền cập nhật vip</label>
    </div>
    <div class="col-6 line">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-4 line">
      <label class="form-label">Tỉ lệ giảm giá khuyến mãi</label>
    </div>
    <div class="col-6 line">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-4 line">
      <label class="form-label">Hạn nợ</label>
    </div>
    <div class="col-6 line">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-4 line">
      <label class="form-label">Sách tặng</label>
    </div>
    <div class="col-6 line">
      <input type="text" class="form-control">
    </div>
  </div>

</form>

<div style="margin:50px; margin-left: 50%;">
  <button type="submit" class="btn btn-primary">Thay đổi quy định</button>
</div>

