<div class="container">
</br>
    <h1>Editing Tacgium</h1>
    </br>
    <%= render 'form', tacgium: @tacgium %>

    <%= link_to 'Show', @tacgium, class: 'btn btn-color' %>
    <%= link_to 'Back', tacgia_path, class: 'btn btn-color' %>
</div>
</br>