<div class="container">
</br>
    <h1>New Tacgium</h1>
    </br>
    <div class="container-fluid">
        <%= render 'form', tacgium: @tacgium %>

        <%= link_to 'Back', tacgia_path %>
    </div>
</div>
</br>