<div class="container">
</br>
    <h1>Editing Phieunhap</h1>
    </br>
    <%= render 'form', phieunhap: @phieunhap %>

    <%= link_to 'Show', @phieunhap %> |
    <%= link_to 'Back', phieunhaps_path %>
</div>
</br>