<div class="container">
</br>
    <h1>Editing Phieunhap</h1>
    </br>
    <%= render 'form', phieunhap: @phieunhap %>

    <%= link_to 'Show', @phieunhap, class: 'btn btn-color' %>
    <%= link_to 'Back', phieunhaps_path, class: 'btn btn-color' %>
</div>
</br>