<div class="container">
</br>
    <h1>Thêm dữ liệu</h1>
    </br>
    <div class="container-fluid">
    <%= render 'form', phieunhap: @phieunhap %>

    <%= link_to 'Back', phieunhaps_path, class: 'btn btn-color' %>
    </div>
</div>
</br>