<div class="container">
</br>
    <h1>Chỉnh sửa đầu sách</h1>
    </br>
    <div class="container-fluid">
        <%= render 'form', dausach: @dausach %>
        <%= link_to 'Show', @dausach, class:"btn btn-color"  %>
        <%= link_to 'Back', dausaches_path, class:"btn btn-color" %>
    </div>
</div>

