<div class="container">
</br>
    <h1>Thêm dữ liệu</h1>
    </br>
    <div class="container-fluid">
        <%= render 'form', dausach: @dausach %>
        <%= link_to 'Back', dausaches_path, class:"btn btn-color" %>
    </div>
</div>