<div class="container">
</br>
    <h1>Chỉnh sửa báo cáo công nợ</h1>
    </br>
    <%= render 'form', baocaocongno: @baocaocongno %>

    <%= link_to 'Show', @baocaocongno, class: 'btn btn-color' %>
    <%= link_to 'Trở lại', baocaocongnos_path, class: 'btn btn-color' %>
<div class="container">
</br>