<div class="container">
</br>
    <h1>Thêm báo cáo công nợ</h1>
    </br>
    <div class="container-fluid">
        <%= render 'form', baocaocongno: @baocaocongno %>

        <%= link_to 'Trở lại', baocaocongnos_path, class: 'btn btn-color' %>
    </div>
</div>
</br>