td {
    text-align: center;
    .ulsach {
        margin-left: 20%;
    }
    li{
    float: left;
    list-style: none;
    margin-right: 20px;
    }
}
th{
    text-align: center;
}

.tablecontain{
    border: black 2px;
    margin-top: 30px;
    tr h2{
        margin-top: 20px;
    }
}