.bg-purple{
    background-color: #43425D;
}
.navbar-brand{
    color: white;
    font-size: 25px;
}
.home a:hover{
    color: #A3A0FB;
}
.nav-item {
    margin-bottom: 23px;
    a{
    color: white;
    font-size: 20px;
    }
    a:hover{
        color: #A3A0FB;
    }
}
.dropdown-menu{
    background-color: #A3A0FB;
    padding: 10px;
    left: 50px;
}
.home{
    margin-top: 20px;
}
.sidebar-container{
    position: relative;
    height: 100%;
}
.sidebar{
    position: fixed;
    height: 100%;
}
.dropdown-item{
    margin-bottom: 5px;
}

@media screen and (max-width: 1250px){
    .sidebar{
        position: sticky top;
        height: 100%;
    }
    .txtspand{
        display: none;
    }
    .nav-item {
        margin-bottom: 15px;
    }
}