@import './vendors/bootstrap';
@import './vendors/fonts/awesome';    

@import './sidebar';
@import './userInfo';
@import './dausach';
@import './tacgia';
@import './hoadon';
@import './phieuthu';
@import './baocao';
@import './auth';
@import './navbar';
@import './splidejs';

hr{
    height:4px;
    border-width:0;
    color:white;
    background-color:white;
    width: 100%;
}
span{
    color: #A3A0FB;
    margin-right: 20px;
}
body{
    overflow-x: hidden;
    background-color: rgba(163, 160, 251,0.3);
    position: relative;
}
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #A3A0FB; 
    border-radius: 0px;
  }

  .title{
    margin-top: 30px;
}
.bg-signin{
  position: relative;
  background: url('/assets/bg.jpg') no-repeat center center;
  background-size: 100% 100%;
  height: 675px;
  width: 100%;
}
.cancel{
  margin-top: 40px;
}

  
.uluser{
  padding-left: 25%;
}

.tablecontain{
  background-color: #F7F6FB;
  margin: 0 auto;
  padding-bottom: 50px;
  width: 100%;
  margin-bottom: 30px;
}
.row{
  width: 100%;
}

@media screen and (max-width: 1250px){
  table{
    font-size: 10px;
  }
}
@media screen and (max-width: 750px){
  h2{
    font-size: 20px;
  }
  h1{
    font-size: 20px;
  }
  a{
    font-size: 10px;
  }
  .yeild{
    width: 100%;
  }
  .btn{
    font-size: 10px;
  }

}
.float-r{
  float: right !important;
}
.title{
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
}
h2{
  padding: 10px;
}
