<div class="container">
</br> 
    <h1>Editing Tracuusach</h1>

    <%= render 'form', tracuusach: @tracuusach %>

    <%= link_to 'Show', @tracuusach, class: 'btn btn-color' %>
    <%= link_to 'Back', tracuusaches_path, class: 'btn btn-color' %>
</div>
</br>