<div class="container">
</br>
  <h1>New Tracuusach</h1>
    </br>
    <div class="container-fluid">
        <%= render 'form', tracuusach: @tracuusach %>

        <%= link_to 'Back', tracuusaches_path %>
    </div>
</div>
</br>