<div class="container">
</br>
    <h1>Editing Hoadon</h1>
    </br>
    <%= render 'form', hoadon: @hoadon %>

    <%= link_to 'Show', @hoadon, class:"btn btn-color", class: 'btn btn-color'  %>
    <%= link_to 'Back', hoadons_path, class:"btn btn-color"  %>
</div>
</br>