<div class="container">
</br>
    <h1>Thêm dữ liệu</h1>
    </br>
    <div class="container-fluid">
        <%= render 'form', hoadon: @hoadon %>
        <%= link_to 'Back', hoadons_path %>
    </div>
</div>