<div class="container">
</br>
    <h1>Editing Kiemkho</h1>
    </br>
    <%= render 'form', kiemkho: @kiemkho %>

    <%= link_to 'Show', @kiemkho, class: 'btn btn-color' %>
    <%= link_to 'Back', kiemkhos_path, class: 'btn btn-color' %>
</div>
</br>